<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyQTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f19d6e">  <td>18/04/12 19:32:51</td>   <td>0</td> <td title="&gt;&gt;RunMethod.killNodes()[pri:0, instance:com.liftmaster.myq.testngrunner.RunMethod@5ed828d]">&gt;&gt;killNodes</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@110431793</td>   <td></td> </tr>
<tr bgcolor="f19d6e">  <td>18/04/12 19:32:51</td>   <td>65</td> <td>&nbsp;</td><td title="&gt;&gt;RunMethod.runtest(org.testng.ITestContext)[pri:0, instance:com.liftmaster.myq.testngrunner.RunMethod@32d2fa64]">&gt;&gt;runtest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@30737125</td>   <td></td> </tr>
<tr bgcolor="f19d6e">  <td>18/04/12 19:33:03</td>   <td>11836</td> <td>&nbsp;</td><td title="&gt;&gt;RunMethod.runtest(org.testng.ITestContext)[pri:0, instance:com.liftmaster.myq.testngrunner.RunMethod@5ed828d]">&gt;&gt;runtest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@30737125</td>   <td></td> </tr>
</table>
